.Cont3 h1{
    background-color: white;
    text-align: center;
    border-radius: 20px;


}


.table2 {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto; /* Add this line for vertical scroll */
  max-height: 300px; /* Set a maximum height for the scroll */
}